<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangyonggan.app.mapper.SectionMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.app.model.Section">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="section_id" property="sectionId" jdbcType="BIGINT"/>
        <result column="novel_id" property="novelId" jdbcType="BIGINT"/>
        <result column="novel_code" property="novelCode" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
</mapper>