html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    min-height: 100%;
    margin-bottom: -260px;
}

.empty, .footer {
    height: 260px;
}

.inner {
    width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
    height: 1px;
}

.space-10 {
    display: block;
    clear: both;
    height: 10px;
}

.space-20 {
    display: block;
    clear: both;
    height: 20px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.login-form {
    float: right;
    color: #f5f5f5;
    margin-top: 40px;
}

.register-form {
    clear: both;
    float: right;
    color: #d5d5d5;
    margin-top: 30px;
}

#sendBtn {
    position: absolute;
    left: 623px;
    top: 2px;
    height: 30px;
    line-height: 20px;
    width: 60px;
    padding: 0;
}

.register-form .sending {
    width: 100px !important;
}