/*布局*/
html {
    height: 100%;
}

body {
    background: #F2F2F2;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container {
    min-height: 100%;
    margin-bottom: -260px;
}

.empty, .footer {
    height: 260px;
}
/*布局*/

/*通用*/
.inner {
    width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

.border {
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    padding: 5px !important;
    background: #fff;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
    height: 1px;
}

.space-10 {
    display: block;
    clear: both;
    height: 10px;
}

.space-20 {
    display: block;
    clear: both;
    height: 20px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}
/*通用*/

/*面包屑*/
.breadcrumbs {
    list-style: none;
    margin-top: 15px;
    padding: 5px 15px;
    border: 1px solid #d5d5d5;
    background: #fff;
    border-radius: 3px;
    font-size: 13px;
}
.breadcrumbs li {
    float: left;
    margin-left: 10px;
}
.breadcrumbs li a {
    color: rgb(111, 120, 167);
    text-decoration: none;
}
.breadcrumbs li.split {
    margin-left: 10px;
}
.breadcrumbs li span {
    color: #595959;
}
/*面包屑*/

/*表单*/
.btn {
    height: 34px;
    line-height: 22px;
    padding: 5px 15px;
    background: none;
    border-radius: 17px;
    border: 1px solid #ddd;
    color: #ccc;
    font-size: 13px;
    cursor: pointer;
    box-shadow: none !important;
    outline: none;
    letter-spacing: 2px;
}

.form .form-group {
    position: relative;
    margin-top: 30px;
}

.form .captcha {
    position: absolute;
    right: 10px;
    top: 29px;
    height: 30px;
    line-height: 20px;
    width: 80px;
    padding: 0;
    cursor: pointer;
}

.form .label {
    _zoom: 1;
    *display: inline;
}

.form label {
    width: 180px;
}

.form .required:after {
    content: '*';
    color: red;
}

.form input[type=text],.form input[type=password],.form input[type=email] {
    display: block;
    width: 400px;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    padding: 4px 10px;
    margin-right: 10px;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #aaa;
    color: #fff;
}

.form .form-actions {
    margin-top: 50px;
    margin-left: 206px;
}

.form .form-actions button {
    margin-right: 15px;
}

.form label.error {
    font-size: 13px;
    color: #ff5151;
    margin-top: 3px;
}
/*表单*/

/*登录界面*/
.login-form {
    float: right;
    color: #f5f5f5;
    margin-top: 20px;
}

.forgot {
    position: absolute;
    left: 415px;
    top: 29px;
    color: #F5F5F5;
    font-size: 13px;
    width: 90px;
    line-height: 28px;
    text-decoration: none;
}
/*登录界面*/

/*注册界面*/
.register-form {
    clear: both;
    float: right;
    color: #d5d5d5;
    margin-top: 20px;
}

#sendBtn {
    position: absolute;
    left: 420px;
    top: 29px;
    height: 30px;
    line-height: 20px;
    width: 60px;
    padding: 0;
}

.register-form .sending {
    width: 100px !important;
}
/*注册界面*/

/*找回密码界面*/
.forgot-form {
    clear: both;
    float: right;
    color: #d5d5d5;
    margin-top: 20px;
}

.forgot-form .sending {
    width: 100px !important;
}
/*找回密码界面*/

/*分页*/
.pagination {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 45px;
    line-height: 45px;
    text-align: right;
}

.pagination li {
    float: left;
}

.pagination li a {
    display: inline-block;
    text-decoration: none;
    height: 34px;
    line-height: 34px;
    width: 34px;
    border: 1px solid #c2c2c2;
    color: #595959;
    margin-right: 5px;
    text-align: center;
}

.pagination li.active a {
    border: 0;
    cursor: default;
}
/*分页*/