
/*skin*/
.no-skin #user-info-toggle {
    background: #438eb9;
}

.skin-1 .navbar {
    background: #333;
}

.skin-1 #user-info-toggle {
    background: #333;
}

.skin-2 #user-info-toggle {
    background: #c6487e;
}

.skin-3 #user-info-toggle {
    background: #404040;
}

.skin-2 .btn-skin {
    background-color: #d6487e !important;
    border-color: #d6487e;
}

.skin-2 .btn-skin:hover {
    background-color: #b73766 !important;
    border-color: #d6487e;
}

.no-skin .btn-skin {
    background-color: #428bca !important;
    border-color: #428bca;
}

.no-skin .btn-skin:hover {
    background-color: #1b6aaa !important;
    border-color: #428bca;
}

.skin-1 .btn-skin {
    background-color: #555 !important;
    border-color: #444;
}

.skin-1 .btn-skin:hover {
    background-color: #121a1d !important;
    border-color: #222a2d;
}

.no-skin .skin-color {
    color: #438eb9;
}

.skin-1 .skin-color {
    color: #222a2d;
}

.skin-2 .skin-color {
    color: #c6487e;
}

.skin-3 .skin-color {
    color: #404040;
}
/*skin*/

/*自定义*/
.radius-base {
    border-radius: 5px;
}

.app-label {
    height: 34px;
    line-height: 34px;
    text-align: left !important;
}

.app-label:after {
    content: ':';
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.required:after {
    color: red;
    content: "*";
}

label.error {
    color: red;
    font-size: 13px;
}

@media (min-width: 992px) {
    .app-label {
        text-align: right !important;
    }
}

input[readonly], input[readonly].readonly {
    background: #FAFAFA !important;
    cursor: pointer !important;
}

tr.no-records-found td {
    padding: 40px 0 !important;
}
/*自定义*/


